{% extends 'base.html' %}

{% block title %}New Autotrader{% endblock %}

{% block content %}

<h2>Symbols</h2>
<hr>

<div class="list-group">
  {% for symbol in symbols %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ symbol.name }}</h5>
      <small>{{ symbol.created_at }}</small>
    </div>
    <small>{{ symbol.price }}</small>
  {% endfor %}
  </a>
</div>
{% endblock %}
