{% extends 'base.html' %}

{% block title %}New Autotrader{% endblock %}

{% block content %}

<h2>Symbols</h2>
<hr>
<form action="{{ url_for('symbol') }}" method="post">
  {{ form.hidden_tag() }}
  <div class="form-row align-items-center">
    <div class="col-auto">{{ form['name'](class='form-control mb-2', placeholder="New symbol..") }}</div>
    <div class="col-auto">{{ form['submit'](class='btn btn-success mb-2') }}</div>
  </div>
</form>

<hr>

<div class="list-group">
  {% for symbol in symbols %}
  <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
    <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">{{ symbol.name }}</h5>
      <small>{{ symbol.created_at }}</small>
    </div>
    <small>{{ symbol.id }}</small>
  {% endfor %}
  </a>
</div>
{% endblock %}
